<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gujiaxi.archiver</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>51B96A47-A554-4276-B9B0-FD912D3FC436</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C4E2BE5-1028-47CF-B357-D57801D866B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F903A03-1EA3-41DA-B906-5961277FCF48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B0BAD20-DB03-48C5-AA2F-74014165E9EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60A56C64-140B-41B9-BF96-147C978EE9AB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51B96A47-A554-4276-B9B0-FD912D3FC436</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87CC6F8D-A638-4C56-B417-35636DB21A54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F903A03-1EA3-41DA-B906-5961277FCF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B0BAD20-DB03-48C5-AA2F-74014165E9EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C4E2BE5-1028-47CF-B357-D57801D866B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7AEFB29-9FFA-4F6C-9018-ABA63B01BCC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4E75318-E3E5-4A60-AC27-9E658ABC442D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9520787-FCBC-4183-B453-6C21710CA952</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7AEFB29-9FFA-4F6C-9018-ABA63B01BCC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Isaac</string>
	<key>description</key>
	<string>Zip and unzip files.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Archiver</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>File compressed successfully!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E4E75318-E3E5-4A60-AC27-9E658ABC442D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Zip files cleanly.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C9520787-FCBC-4183-B453-6C21710CA952</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>workdir=$(dirname -- "$1")
zipfile=`basename "$1"`.zip

cd $workdir

for file in "$@"; do
    if [[ "`dirname \"$file\"`" == "$workdir" ]]; then
        zip -ruq "$zipfile" "`basename \"$file\"`" -x "*.DS_Store*" -x "*__MACOSX*" -x "*.git*" -x "*.svn*" -x "*.idea*"
    else
        rm "$zipfile"
        exit 1
    fi
done

exit 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7AEFB29-9FFA-4F6C-9018-ABA63B01BCC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>workdir=$(dirname -- "$1")

fileext="${1##*.}"
target="${1%%.*}"

mkdir "$target" &amp;&amp; ./unrar x "$1" "$target"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9B0BAD20-DB03-48C5-AA2F-74014165E9EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Unzip files smartly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>87CC6F8D-A638-4C56-B417-35636DB21A54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Files extracted successfully!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7C4E2BE5-1028-47CF-B357-D57801D866B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*\.rar$</string>
						<key>outputlabel</key>
						<string>{query}</string>
						<key>uid</key>
						<string>60A56C64-140B-41B9-BF96-147C978EE9AB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7F903A03-1EA3-41DA-B906-5961277FCF48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>workdir=$(dirname -- "$1")
cd "$workdir"

source ~/.zshrc
extract "$1"
exit 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51B96A47-A554-4276-B9B0-FD912D3FC436</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>51B96A47-A554-4276-B9B0-FD912D3FC436</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>7C4E2BE5-1028-47CF-B357-D57801D866B8</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7F903A03-1EA3-41DA-B906-5961277FCF48</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>87CC6F8D-A638-4C56-B417-35636DB21A54</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>9B0BAD20-DB03-48C5-AA2F-74014165E9EF</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>B7AEFB29-9FFA-4F6C-9018-ABA63B01BCC2</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>C9520787-FCBC-4183-B453-6C21710CA952</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>E4E75318-E3E5-4A60-AC27-9E658ABC442D</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/gujiaxi/alfred-zip-workflow</string>
</dict>
</plist>
